.title{
    display: flex;
    align-items: center;
    background-color: orange;
    font-family: "Jersey 10", sans-serif;
    color: rgb(23, 23, 172);
    padding: 10px;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 8px; 
}
.title img{
    width: 70px;
    border-radius: 50%;
    margin-right: 12px;
    transition: transform 0.3s ease-in-out;
}
.title img:hover {
    transform: scale(1.1);
}
h1{
    text-transform: uppercase;
    font-size: 1.5rem; /* Controla el tamaño del título */
}
@media (max-width: 600px){
    .title {
        flex-wrap: wrap;
        text-align: center;
    }
}